body {
	font-size: 14px;
	line-height: 24px;
	color: black;
	font-weight: normal;
	font-family: "PT Sans Narrow Bold", "Arial", sans-serif;
	text-transform: uppercase;
}

.index-content-title {
	font-size: 30px;
	line-height: 42px;
}

.inner-main-header {
	font-size: 30px;
	line-height: 42px;
}
